[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".zsh/peep"]
	path = .zsh/peep
	url = git://github.com/nkryu/peep.git
[submodule ".zsh/auto-fu.zsh"]
	path = .zsh/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "ubuntu/z"]
	path = ubuntu/z
	url = git://github.com/rupa/z.git
