[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
    ignore = dirty
[submodule ".zsh/z"]
	path = .zsh/z
	url = https://github.com/rupa/z.git
    ignore = dirty
[submodule "auto-fu.zsh"]
	path = .zsh/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
    ignore = dirty
[submodule ".zsh/zsh-completions.git"]
	path = .zsh/zsh-completions.git
	url = git://github.com/zsh-users/zsh-completions.git
